.productDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.productDetailsImage {
  width: 260px;
  max-width: 100%;
  object-fit: contain;
}

.productDetailsInfo {
  max-width: 500px;
}