:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

.theme-light {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  color: #1a1a1a;
  min-height: 100vh;
}

.theme-dark {
  background-image: linear-gradient(to top, #0e5ca6 0%, #11111a 100%);
  color: #ffffff;
  min-height: 100vh;
}
